.container {
    width: 900px;
    margin: 0 auto;
}

.container h2 {
    text-align: center;
}

.container a {
    background-color:#6AD58B;
    color: white;
    padding: 15px;
    border-radius: 30px;
    display: inline-block;
}
